html,body{
    height: 100%; margin: 0px; padding: 0px;
}
.bg{
    height: 100%; margin: 0px; padding: 0px;
    background-image: url('../img/bg.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    opacity: 1;
    z-index: -999;
}
@font-face{
    font-family:'sqFont';
    src:url('./origin.ttf') format('truetype');
}

@keyframes myShake
{
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes myShake /* Safari and Chrome */
{
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.words{
    font-family:'sqFont';
    color:rgb(170, 157, 10);
    position: absolute;
    font-size: 45px;
    left:45%;top:45%;
    z-index: 999;
}

.words-img{
    position: absolute;
}

.normal-text {
    font-size: 45px;
}

.small-text {
    font-size: 30px;
}

.big-text {
    font-size: 60px;
}

.vertical-text {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.shake-once{
    animation: myShake 0.5s;
    animation-iteration-count:1;
}

img {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
    height: 10%;
    z-index: 0;
    opacity: 0.9;
}